/* Empty. Add your own CSS if you like */
#fbLoginButton
{
  width:200px;
  z-index: 10;
  bottom:-80%;
  margin: auto;
}	

.stretchBg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.bgStretch {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.bgStretch img {
   position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  }

